$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
  font-family: 'Encode Sans SC', sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  text-align: center;
  color: black;
  overflow-y: scroll;
  height: 100vh;
  border: none;
}

#recherche {
  width: 500px;
  height: 50px;
  font-size: 2rem;
  border-radius: 15px;
}

.rechercheButton {
  width: 500px;
  height: 50px;
  font-size: 2rem;
  border-radius: 15px;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
  background: white;
  outline: none;
  &:hover {
    background:black;
    color: white;
    border: 5px solid wheat;
  }
}

#recherche:hover {
  border: 3px solid red;
}

#recherche:focus {
  border: 3px solid blue;
  outline: none !important;


}
img {
  width: 20%;
}

div {
  border: 3px solid black;
  margin: 3rem;
  padding: 1.5rem;
}

.circle {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: dash 5s linear forwards infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

svg {
  margin: 0 auto;
  display: none;
}

/* .percent {
  display: none;
  position: absolute;
  top: 175px;
  left: 415px;
  border: none;
} */